<div class="inventory-container">
    <h2><%= @inventory.name%> <%= @inventory.id%></h2>
     <div class="new_food"><%= button_to 'Add food', new_food_path %></div>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    <% @inventory.inventory_foods.each do |item| %>
        <tr>
        <td><%= item.food.name%></td>
        <td><%= item.quantity%> <%= item.food.measurement_unit%></td>
        <td><%= link_to 'Remove', inventory_inventory_food_path(@inventory, item), data: { turbo_method: :delete } %></td>
        </tr>
    <% end %>   
    </tbody>
    </table>  
</div>