<div class=" flex-col">
  <h2 class="recipe_title"> <%= @recipe.name%></h2>
  <div class="show_recipe">
    <section class="first_section">
      <ul>
        <li>preparation time: <%= @recipe.preparation_time%> hours</li>
        <li>Cooking time: <%= @recipe.cooking_time%> hours</li>
        <li><%= @recipe.description%> hours</li>
      </ul>
    </section>
    <section class="second_section">
      <ul>
        <% if @recipe.public == true %>
          <li class="public">Public</li>
        <% else %>
          <li class="private">Private</li>
        <% end %>
      </ul>
      <% if @recipe.user == @current_user%>
      <button><%= link_to 'Recipe Details', new_user_recipe_path(user_id: @recipe.user_id, recipe_id: @recipe.id)%></button>
      <% end %>
    </section>
  </div>
  <%
=begin%>
 <table class="table_container">
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><p><%= recipe_food.quantity %> <%=recipe_food.food.measurement_unit%></p></td>
        <td><%= recipe_food.food.price %></td>
        <td>
          <% if @recipe.user == @current_user %>
            <%= button_to 'Delete', user_recipe_food_path(user_id: @recipe.user_id, recipe_id: @recipe.id, recipe_food_id: recipe_food.id), method: :delete%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table> 
<%
=end%>
</div>